<%- include('./includes/head.ejs') %>
<body>
  <main class="main-content">
    <%- include('./includes/nav.ejs') %>

      <h1>Users</h1>
      <% if(users.length > 0){ %>
      <ul>
        <% for(let user of users){ %>
          <li><%= user %></li>
        <% } %>
      </ul>
      <% }else{ %>
        <h3> no users yet </h3>
      <% } %>
    
  </main>
  
</body>
</html>