.order {
    /* background-color: rgba(198, 255, 236, 0.616); */
    list-style: none;
    padding: 1em;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px black;
}

.order-id {
    font-size: 1em;
}

.order-item {
    list-style: none;
}

.order-item-detail {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    border-bottom: 1px solid darkblue;
    margin: 5px auto;
    line-height: 200%;
}

.order-item-title {}

.order-item-qty {
    color: rgb(31, 8, 8);
}